* {
  margin: 0;
  padding: 0;
  font-family: MyFont, Calibri, sans-serif;
}

@font-face {
  font-family: "MyFont";
  src: url(./font/Zantroke.otf);
}

#root {
  height: 100vh;
}

body {
  background-color: rgb(0, 0, 0);
}

.bingo-container {
  background-position: center;
  background-size: 100% 100%;
}

.bingo-container2 {
  position: absolute;


  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: -1;
}

.draw-button {
  width: 16rem;
  height: 4rem;
  color: white !important;
  border: none !important;
  background-color: #ffae00 !important;
}

.draw-list-button,
.reset-button {
  color: #ffd35a !important;
}

th {
  font-size: 2.5rem;
}

td {
  font-size: 2rem;
}

.text-bingo {
  color: white;
  font-size: 9rem;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.char-bingo {
  font-size: 9.5rem;
  color: #ffffff !important;
}

@media only screen and (min-height: 650px) {
  .text-bingo {
    color: white;
    font-size: 11rem;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .char-bingo {
    font-size: 11.5rem;
    color: #ffffff !important;
  }
}

@media only screen and (min-height: 900px) {
  .text-bingo {
    color: white;
    font-size: 15rem;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .char-bingo {
    font-size: 15.5rem;
    color: #ffffff !important;
  }
}

.bingo-logo {
  position: absolute;
  width: 100vw !important;
  height: 50vh;
}

.h-60 {
  height: 60% !important;
}

.h-40 {
  height: 40% !important;
}

.h-35 {
  height: 35% !important;
}

.h-30 {
  height: 30% !important;
}

.h-20 {
  height: 20% !important;
}

.h-15 {
  height: 15% !important;
}

.h-10 {
  height: 10% !important;
}

.h-5 {
  height: 5% !important;
}


.test {
  border: 1px black solid;
}

.ttt {
  border: 1px red solid;
}

.tttt {
  border: 1px rgb(0, 255, 8) solid;
}